option_settings:
  aws:elasticbeanstalk:application:environment:
    PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp2
    RootVolumeSize: "100"
    InstanceType: "c5.xlarge"